<div class="col-xs-12">

{% for message in app.flashes('mensajeError') %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-ban"></i> {{ message }}</h4>
</div>
{% endfor %}
{% for message in app.flashes('mensajeExito') %}
<div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-check"></i> {{ message }}</h4>
</div>
{% endfor %}
</div>